.product {
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.product h4 {
  font-weight: 500;
  color: blue;
  font-size: 20px;
}
.product p small {
  font-weight: 600;
}
.button-style{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}